* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

/* COLORS */

.header, 
.hero,
.footer {
    background-color: #1F2937;
    color: white;

}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px
}

.header .title {
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 20px;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-container {
    max-width: 80%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content,
.hero-image {
    flex: 1;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
}

.hero-content button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 5px;
    font-weight: bold;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* INFORMATION */

.information {
    padding: 30px;
}

.information h3 {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.information .box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.information .box {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.information .square {
    border: 2px solid #3882F6;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.information p {
    text-align: center;
}



