* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

/* COLORS */

.header, 
.hero,
.footer {
    background-color: #1F2937;
    color: white;

}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px
}

.header .title {
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 20px;
}



